<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styleR.css">
</head>

<body>
  <header>
    <nav>
      <!-- Titre -->
      <h1>LinkBee</h1>
      <div class="pages">
        <h2>Mon compte</h2>
        <h2>Recherche</h2>
        <h2>Déconnexion</h2>
    </nav>
  </header>
  <main>
    <!-- profil 1 -->
    <div class="container-main">
      <div class="grid-item1">
        <div class="container-name-profil">
          <div class="photos-profil">
            <img src="/images/pexels-thgusstavo-santana-2709718.jpg" alt="photos de profil">
          </div>
          <h2>Bernard Le Griou</h2>
        </div>
        <div class="container-descriptif">
          <h2>descriptif</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla sunt itaque officia, temporibus vel
            distinctio praesentium repudiandae totam velit. Quibusdam eveniet ...</p>
        </div>
      </div>
      <div class="grid-item2">
        <img src="/images/png-carte-de-france--1078.png" alt="carte de France">
      </div>
    </div>
    <!-- profil 2 -->
    <div class="container-main">
      <div class="grid-item1">
        <div class="container-name-profil">
          <img src="/images/pexels-thgusstavo-santana-2709718.jpg" alt="photos de profil">
          <h2>Bernard Le Griou</h2>
        </div>
        <div class="container-descriptif">
          <h2>descriptif</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla sunt itaque officia, temporibus vel
            distinctio praesentium repudiandae totam velit. Quibusdam eveniet ...</p>
        </div>
      </div>
      <div class="grid-item2">
        <img src="/images/png-carte-de-france--1078.png" alt="carte de France">
      </div>
    </div>
    <!-- profil 3 -->
    <div class="container-main">
      <div class="grid-item1">
        <div class="container-name-profil">
          <img src="/images/pexels-thgusstavo-santana-2709718.jpg" alt="photos de profil">
          <h2>Bernard Le Griou</h2>
        </div>
        <div class="container-descriptif">
          <h2>descriptif</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla sunt itaque officia, temporibus vel
            distinctio praesentium repudiandae totam velit. Quibusdam eveniet ...</p>
        </div>
      </div>
      <div class="grid-item2">
        <img src="/images/png-carte-de-france--1078.png" alt="carte de France">
      </div>
    </div>
    <!-- profil 4 -->
    <div class="container-main">
      <div class="grid-item1">
        <div class="container-name-profil">
          <img src="/images/pexels-thgusstavo-santana-2709718.jpg" alt="photos de profil">
          <h2>Bernard Le Griou</h2>
        </div>
        <div class="container-descriptif">
          <h2>descriptif</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla sunt itaque officia, temporibus vel
            distinctio praesentium repudiandae totam velit. Quibusdam eveniet ...</p>
        </div>
      </div>
      <div class="grid-item2">
        <img src="/images/png-carte-de-france--1078.png" alt="carte de France">
      </div>
    </div>
    <!-- profil 5 -->
    <div class="container-main">
      <div class="grid-item1">
        <div class="container-name-profil">
          <img src="/images/pexels-thgusstavo-santana-2709718.jpg" alt="photos de profil">
          <h2>Bernard Le Griou</h2>
        </div>
        <div class="container-descriptif">
          <h2>descriptif</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla sunt itaque officia, temporibus vel
            distinctio praesentium repudiandae totam velit. Quibusdam eveniet ...</p>
        </div>
      </div>
      <div class="grid-item2">
        <img src="/images/png-carte-de-france--1078.png" alt="carte de France">
      </div>
    </div>
    <!-- profil 6 -->
    <div class="container-main">
      <div class="grid-item1">
        <div class="container-name-profil">
          <img src="/images/pexels-thgusstavo-santana-2709718.jpg" alt="photos de profil">
          <h2>Bernard Le Griou</h2>
        </div>
        <div class="container-descriptif">
          <h2>descriptif</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla sunt itaque officia, temporibus vel
            distinctio praesentium repudiandae totam velit. Quibusdam eveniet ...</p>
        </div>
      </div>
      <div class="grid-item2">
        <img src="/images/png-carte-de-france--1078.png" alt="carte de France">
      </div>
    </div>
    <!-- profil 7 -->
    <div class="container-main">
      <div class="grid-item1">
        <div class="container-name-profil">
          <img src="/images/pexels-thgusstavo-santana-2709718.jpg" alt="photos de profil">
          <h2>Bernard Le Griou</h2>
        </div>
        <div class="container-descriptif">
          <h2>descriptif</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla sunt itaque officia, temporibus vel
            distinctio praesentium repudiandae totam velit. Quibusdam eveniet ...</p>
        </div>
      </div>
      <div class="grid-item2">
        <img src="/images/png-carte-de-france--1078.png" alt="carte de France">
      </div>
    </div>
  </main>

</body>

</html>