<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil perso</title>
    <link rel="stylesheet" href="./styleProfil.css" />
  </head>


  <body>
    <header>
      <nav>
        <h1>LinkBee</h1>
        <div class="pages">
            <h2> <a href="/profil"> Mon compte </a></h2>
            <h2> <a href="/search"></a> Recherche</h2>
            <h2> <a href="/disconnect"> Déconnexion</a>
            </h2>
        </div>
        
    </nav>
    </header>
    <main>
      <!-- background IMG -->
      <section class="containerPrinc">
        <div class="case1">
          <div class="profil">
            <div>
            <img src="/img/pexels-thgusstavo-santana-2709718.jpg" alt="bernard">
          </div>
          <h2>Bernard Legriou</h2>
        </div>
        <p class="droit">Professionnel</p>
        </div>
        <div class="case2"></div>
        <div class="case3">
          <h2>Description</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut labore
            saepe excepturi doloremque magnam suscipit. Laudantium ad excepturi
            nostrum nemo, aliquid blanditiis quod fuga laboriosam, cum sed
            aliquam deleniti dolore!
          </p>
          <div class="case4">
            <button type="submit" value="post">Contacter</button>
          </div>
      </section>
    </main>
    <footer>
      <p>©LinkBee</p>
    </footer>
  </body>
</html>
